<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <meta charset="utf-8">
  <meta name="description" content="La Escuela Politécnica Nacional, es una Institución de Educación Superior, universidad pública ubicada en Quito, Ecuador.">
  <meta name="keywords" content="politecnica,universidad,quito,ecuador,epn,publica,excelencia,academico,sociedad,investigacion,ingenieria,tecnologia">
  <meta name="author" content="Escuela Politécnica Nacional">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="google-site-verification" content="7IHmPjSkwz7LqpmmfOhopMzhiIrb6zbGIQaC4RwVYxY">
  <title>Escuela Politécnica Nacional |  Síntesis Histórica</title>
  <link rel="pingback" href="http://www.epn.edu.ec/xmlrpc.php">
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!-- Favicon -->
  <link rel="shortcut icon" href="http://www.epn.edu.ec/gui/icon/poli_32.ico">

  <!-- Starting wp_head -->
  <link rel="dns-prefetch" href="//s.w.org">
  <link rel="alternate" type="application/rss+xml" title="Escuela Politécnica Nacional » Feed" href="http://www.epn.edu.ec/feed/">
  <link rel="alternate" type="application/rss+xml" title="Escuela Politécnica Nacional » RSS de los comentarios" href="http://www.epn.edu.ec/comments/feed/">
  <script type="text/javascript">
    window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/www.epn.edu.ec\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.7.5"}};
    !function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),!(j.toDataURL().length<3e3)&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,65039,8205,55356,57096),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,55356,57096),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55357,56425,55356,57341,8205,55357,56507),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55357,56425,55356,57341,55357,56507),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
  </script><script src="http://www.epn.edu.ec/wp-includes/js/wp-emoji-release.min.js?ver=4.7.5" type="text/javascript" defer=""></script>
  <style type="text/css">
    img.wp-smiley,
    img.emoji {
      display: inline !important;
      border: none !important;
      box-shadow: none !important;
      height: 1em !important;
      width: 1em !important;
      margin: 0 .07em !important;
      vertical-align: -0.1em !important;
      background: none !important;
      padding: 0 !important;
    }
  </style>
  <link rel="stylesheet" id="google-language-translator-css" href="http://www.epn.edu.ec/wp-content/plugins/google-language-translator/css/style.css?ver=4.7.5" type="text/css" media="all">
  <link rel="stylesheet" id="srfprettylistStyleSheets-css" href="http://www.epn.edu.ec/wp-content/plugins/pretty-file-list-pro/styles/Grey_split.css?ver=4.7.5" type="text/css" media="all">
  <link rel="stylesheet" id="contact-form-7-css" href="http://www.epn.edu.ec/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.8.1" type="text/css" media="all">
  <link rel="stylesheet" id="fcbk_stylesheet-css" href="http://www.epn.edu.ec/wp-content/plugins/facebook-button-plugin/css/style.css?ver=4.7.5" type="text/css" media="all">
  <link rel="stylesheet" id="mv-icomoon-css" href="http://www.epn.edu.ec/wp-content/plugins/multiverso/css/mvicomoon.css?ver=4.7.5" type="text/css" media="all">
  <link rel="stylesheet" id="mv-style-css" href="http://www.epn.edu.ec/wp-content/plugins/multiverso/css/style.css?ver=4.7.5" type="text/css" media="all">
  <style id="mv-style-inline-css" type="text/css">
    /* BASIC STYLES */
    .mv-wrapper {
      width:100%; /* Set your content width */
      margin:auto; /* Set MV content to the center */
    }
    .mv-content {
    }
    .mv-clear {
    }
    .mvhr {
    }

    /* FILE VIEW */
    .file-thumb img {
    }
    .file-title {
    }
    .file-info {
    }
    .file-date {
    }
    .file-info a:active, .file-info a:visited, .file-info a:link {
    }
    .file-details-title {
    }
    .file-details-wrapper {
    }
    .file-details {
    }
    .file-data {
    }

    /* Start Extension Icons */
    .file-pdf {
    }
    .file-txt {
    }
    .file-zip {
    }
    .file-rar {
    }
    .file-doc {
    }
    .file-xls {
    }
    .file-ppt {
    }
    .file-gif {
    }
    .file-png {
    }
    .file-jpg {
    }
    .file-none {
    }
    .file-others {
    }

    /* End Extension Icons */
    .file-name {
    }
    .file-name a:visited, .file-name a:link, .file-name a:active {
    }
    .file-data-list {
    }
    .file-data-list li {
    }
    .file-data-list i {
    }
    .file-owner {
    }
    .file-publish {
    }
    .file-access {
    }
    .file-public {
    }
    .file-registered {
    }
    .file-personal {
    }
    .file-dw-button {
    }
    .file-dw-button a {
    }
    .mv-btn {
    }
    .mv-btn:hover, .mv-btn:focus, .mv-btn:active, .mv-btn.active, .mv-btn.disabled, .mv-btn[disabled] {
    }
    .mv-btn:active, .mv-btn.active {
    }
    .mv-btn:hover, .mv-btn:focus, .mv-btn:active, .mv-btn.active, .mv-btn.disabled, .mv-btn[disabled] {
    }
    .mv-btn:active, .mv-btn.active {
    }
    .mv-btn:first-child {
    }
    .mv-btn:first-child {
    }
    .mv-btn:hover, .mv-btn:focus {
    }
    .mv-btn:focus {
    }
    .mv-btn.active, .mv-btn:active {
    }
    .mv-btn.disabled, .mv-btn[disabled] {
    }
    .mv-btn-success {
    }
    .mv-btn-success:hover, .mv-btn-success:focus, .mv-btn-success:active, .mv-btn-success.active, .mv-btn-success.disabled, .mv-btn-success[disabled] {
    }
    .mv-btn-success:active, .mv-btn-success.active {
    }
    .mv-btn-success:hover, .mv-btn-success:focus, .mv-btn-success:active, .mv-btn-success.active, .mv-btn-success.disabled, .mv-btn-success[disabled] {
    }
    .mv-btn-success:active, .mv-btn-success.active {
    }

    /* CATEGORY VIEW */
    .cat-title {
    }
    .cat-desc {
    }
    .cat-file-wrapper {
    }
    .cat-file-name {
    }
    .cat-file-name a {
    }

    /* ALL FILES VIEW */
    .cat-files {
    }

    /* SHOW/HIDE FILES */
    .mv-show {
    }
    .mv-hide  {
    }
    .mv-button-hide {
    }
    .mv-button-show {
    }
  </style>
  <link rel="stylesheet" id="rs-plugin-settings-css" href="http://www.epn.edu.ec/wp-content/plugins/revslider/rs-plugin/css/settings.css?ver=4.6.5" type="text/css" media="all">
  <style id="rs-plugin-settings-inline-css" type="text/css">
    .tp-caption a{color:#ff7302;text-shadow:none;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out}.tp-caption a:hover{color:#ffa902}
  </style>
  <link rel="stylesheet" id="showbiz-settings-css" href="http://www.epn.edu.ec/wp-content/plugins/showbiz/showbiz-plugin/css/settings.css?ver=1.7.2" type="text/css" media="all">
  <link rel="stylesheet" id="fancybox-css" href="http://www.epn.edu.ec/wp-content/plugins/showbiz/showbiz-plugin/fancybox/jquery.fancybox.css?ver=1.7.2" type="text/css" media="all">
  <link rel="stylesheet" id="grid-text-css" href="http://www.epn.edu.ec/wp-content/themes/wp-education/includes/css/grid/text.css?ver=1.0" type="text/css" media="all">
  <link rel="stylesheet" id="grid-reset-css" href="http://www.epn.edu.ec/wp-content/themes/wp-education/includes/css/grid/reset.css?ver=1.0" type="text/css" media="all">
  <link rel="stylesheet" id="grid-960-css" href="http://www.epn.edu.ec/wp-content/themes/wp-education/includes/css/grid/960.css?ver=1.0" type="text/css" media="all">
  <link rel="stylesheet" id="wpe-style-css" href="http://www.epn.edu.ec/wp-content/themes/wp-education/style.css?ver=1.0" type="text/css" media="all">
  <link rel="stylesheet" id="flexslider-css" href="http://www.epn.edu.ec/wp-content/plugins/js_composer/assets/lib/bower/flexslider/flexslider.min.css?ver=4.12" type="text/css" media="all">
  <link rel="stylesheet" id="superfish-css" href="http://www.epn.edu.ec/wp-content/themes/wp-education/includes/css/superfish.css?ver=1.0" type="text/css" media="all">
  <link rel="stylesheet" id="lightbox-css" href="http://www.epn.edu.ec/wp-content/themes/wp-education/includes/css/lightbox.css?ver=1.0" type="text/css" media="all">
  <link rel="stylesheet" id="jquery-ui-css" href="http://www.epn.edu.ec/wp-content/themes/wp-education/includes/css/jqueryui.css?ver=1.0" type="text/css" media="all">
  <link rel="stylesheet" id="preset-css-css" href="http://www.epn.edu.ec/wp-content/themes/wp-education/includes/css/skins/red.css?ver=1.0" type="text/css" media="all">
  <link rel="stylesheet" id="responsive-css" href="http://www.epn.edu.ec/wp-content/themes/wp-education/includes/css/responsive.css?ver=1.0" type="text/css" media="all">
  <link rel="stylesheet" id="evcal_cal_default-css" href="http://www.epn.edu.ec/wp-content/plugins/eventON/assets/css/eventon_styles.css?ver=4.7.5" type="text/css" media="all">
  <link rel="stylesheet" id="evo_font_icons-css" href="http://www.epn.edu.ec/wp-content/plugins/eventON/assets/fonts/font-awesome.css?ver=4.7.5" type="text/css" media="all">
  <link rel="stylesheet" id="wordpress-popular-posts-css" href="http://www.epn.edu.ec/wp-content/plugins/wordpress-popular-posts/style/wpp.css?ver=3.3.4" type="text/css" media="all">
  <link rel="stylesheet" id="js_composer_front-css" href="//www.epn.edu.ec/wp-content/uploads/js_composer/js_composer_front_custom.css?ver=4.12" type="text/css" media="all">
  <script type="text/javascript" src="http://www.epn.edu.ec/wp-includes/js/jquery/jquery.js?ver=1.12.4"></script>
  <script type="text/javascript" src="http://www.epn.edu.ec/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1"></script>
  <script type="text/javascript" src="http://www.epn.edu.ec/wp-content/plugins/google-language-translator/js/load-flags.js?ver=4.7.5"></script>
  <script type="text/javascript">
    /* <![CDATA[ */
    var FileListProParams = {"defaultSearchMessage":"Buscar...","noSelectedTypeMessage":"No hay archivo(s) del tipo seleccionado.","noTypeMessage":"No hay tipos seleccionados.","noFilesFoundMessage":"No hay archivos."};
    /* ]]> */
  </script>
  <script type="text/javascript" src="http://www.epn.edu.ec/wp-content/plugins/pretty-file-list-pro/js/PrettyFileList.js?ver=4.7.5"></script>
  <script type="text/javascript" src="http://www.epn.edu.ec/wp-content/plugins/showbiz/showbiz-plugin/fancybox/jquery.fancybox.pack.js?ver=1.7.2"></script>
  <script type="text/javascript" src="http://www.epn.edu.ec/wp-content/plugins/showbiz/showbiz-plugin/js/jquery.themepunch.tools.min.js?ver=1.7.2"></script>
  <script type="text/javascript" src="http://www.epn.edu.ec/wp-content/plugins/showbiz/showbiz-plugin/js/jquery.themepunch.showbizpro.min.js?ver=1.7.2"></script>
  <link rel="https://api.w.org/" href="http://www.epn.edu.ec/wp-json/">
  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.epn.edu.ec/xmlrpc.php?rsd">
  <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.epn.edu.ec/wp-includes/wlwmanifest.xml">
  <meta name="generator" content="WordPress 4.7.5">
  <link rel="canonical" href="http://www.epn.edu.ec/institucion/sintesis-historica/">
  <link rel="shortlink" href="http://www.epn.edu.ec/?p=4394">
  <link rel="alternate" type="application/json+oembed" href="http://www.epn.edu.ec/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.epn.edu.ec%2Finstitucion%2Fsintesis-historica%2F">
  <link rel="alternate" type="text/xml+oembed" href="http://www.epn.edu.ec/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.epn.edu.ec%2Finstitucion%2Fsintesis-historica%2F&amp;format=xml">

  <meta property="og:title" content="Síntesis Histórica">
  <meta property="og:site_name" content="Escuela Politécnica Nacional"><style type="text/css">#google_language_translator {min-height: 0;}
    .goog-te-gadget .goog-te-combo{min-width: 100%;}
    @media screen and (max-width: 820px){#google_language_translator{position: absolute;top: 0;right: 105%;}}.goog-tooltip {display: none !important;}.goog-tooltip:hover {display: none !important;}.goog-text-highlight {background-color: transparent !important; border: none !important; box-shadow: none !important;}#google_language_translator a {display: none !important; }.goog-te-gadget {color:transparent !important;}.goog-te-gadget { font-size:0px !important; }.goog-branding { display:none; }#flags { display:none; }.goog-te-banner-frame{visibility:hidden !important;}body { top:0px !important;}</style>		<script type="text/javascript">
    jQuery(document).ready(function() {
      // CUSTOM AJAX CONTENT LOADING FUNCTION
      var ajaxRevslider = function(obj) {

        // obj.type : Post Type
        // obj.id : ID of Content to Load
        // obj.aspectratio : The Aspect Ratio of the Container / Media
        // obj.selector : The Container Selector where the Content of Ajax will be injected. It is done via the Essential Grid on Return of Content

        var content = "";

        data = {};

        data.action = 'revslider_ajax_call_front';
        data.client_action = 'get_slider_html';
        data.token = 'eb7950bdfe';
        data.type = obj.type;
        data.id = obj.id;
        data.aspectratio = obj.aspectratio;

        // SYNC AJAX REQUEST
        jQuery.ajax({
          type:"post",
          url:"http://www.epn.edu.ec/wp-admin/admin-ajax.php",
          dataType: 'json',
          data:data,
          async:false,
          success: function(ret, textStatus, XMLHttpRequest) {
            if(ret.success == true)
              content = ret.data;
          },
          error: function(e) {
            console.log(e);
          }
        });

        // FIRST RETURN THE CONTENT WHEN IT IS LOADED !!
        return content;
      };

      // CUSTOM AJAX FUNCTION TO REMOVE THE SLIDER
      var ajaxRemoveRevslider = function(obj) {
        return jQuery(obj.selector+" .rev_slider").revkill();
      };

      // EXTEND THE AJAX CONTENT LOADING TYPES WITH TYPE AND FUNCTION
      var extendessential = setInterval(function() {
        if (jQuery.fn.tpessential != undefined) {
          clearInterval(extendessential);
          if(typeof(jQuery.fn.tpessential.defaults) !== 'undefined') {
            jQuery.fn.tpessential.defaults.ajaxTypes.push({type:"revslider",func:ajaxRevslider,killfunc:ajaxRemoveRevslider,openAnimationSpeed:0.3});
            // type:  Name of the Post to load via Ajax into the Essential Grid Ajax Container
            // func: the Function Name which is Called once the Item with the Post Type has been clicked
            // killfunc: function to kill in case the Ajax Window going to be removed (before Remove function !
            // openAnimationSpeed: how quick the Ajax Content window should be animated (default is 0.3)
          }
        }
      },30);
    });
  </script>
  <style>.post-thumbnail img[src$='.svg'] { width: 100%; height: auto; }</style>
  <style type="text/css">

    .main,.second { color: #fff !important; } .third { color: #565656 !important; }






    .slider { height: 330px !important; }


    .container { font-size : 11.5px !important; }  .container a { font-size : 11.5px !important; }  .container .post_block .block .info { font-size : 11px !important; }  .container h1 { font-size : 24px !important; }  .container h2 { font-size : 22px !important; }  .container h3 { font-size : 20px !important; }  .container h4 { font-size : 18px !important; }  .container h5 { font-size : 16px !important; }  .container h6 { font-size : 14px !important; }
  </style>


  <!-- EventON Version -->
  <meta name="generator" content="EventON 2.2.19">

  <!-- WordPress Popular Posts v3.3.4 -->
  <script type="text/javascript">

    var sampling_active = 0;
    var sampling_rate   = 100;
    var do_request = false;

    if ( !sampling_active ) {
      do_request = true;
    } else {
      var num = Math.floor(Math.random() * sampling_rate) + 1;
      do_request = ( 1 === num );
    }

    if ( do_request ) {

      /* Create XMLHttpRequest object and set variables */
      var xhr = ( window.XMLHttpRequest )
          ? new XMLHttpRequest()
          : new ActiveXObject( "Microsoft.XMLHTTP" ),
        url = 'http://www.epn.edu.ec/wp-admin/admin-ajax.php',
        params = 'action=update_views_ajax&token=7a0b8fe2e4&wpp_id=4394';
      /* Set request method and target URL */
      xhr.open( "POST", url, true );
      /* Set request header */
      xhr.setRequestHeader( "Content-type", "application/x-www-form-urlencoded" );
      /* Hook into onreadystatechange */
      xhr.onreadystatechange = function() {
        if ( 4 === xhr.readyState && 200 === xhr.status ) {
          if ( window.console && window.console.log ) {
            window.console.log( xhr.responseText );
          }
        }
      };
      /* Send request */
      xhr.send( params );

    }

  </script>
  <!-- End WordPress Popular Posts v3.3.4 -->
  <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress.">
  <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://www.epn.edu.ec/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="http://www.epn.edu.ec/wp-content/plugins/js_composer/assets/css/vc-ie8.min.css" media="screen"><![endif]-->
  <!-- Jetpack Open Graph Tags -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="Síntesis Histórica">
  <meta property="og:url" content="http://www.epn.edu.ec/institucion/sintesis-historica/">
  <meta property="og:description" content="Visita la entrada para saber más ">
  <meta property="article:published_time" content="2010-08-21T01:16:18+00:00">
  <meta property="article:modified_time" content="2015-04-27T17:44:33+00:00">
  <meta property="og:site_name" content="Escuela Politécnica Nacional">
  <meta property="og:image" content="http://www.epn.edu.ec/wp-content/uploads/historia_1.jpg">
  <meta property="og:image:width" content="470">
  <meta property="og:image:height" content="315">
  <meta property="og:locale" content="es_ES">
  <meta name="twitter:site" content="@EPNEcuador">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:description" content="Visita la entrada para saber más ">
  <style type="text/css" id="wp-custom-css">
    /*
Puedes añadir tu propio CSS aquí.

Haz clic en el icono de ayuda de arriba para averiguar más.
*/

    h4.showbiz-title div a{
      padding-left: 10px!important;
    }		</style>
  <noscript>&lt;style type="text/css"&gt; .wpb_animate_when_almost_visible { opacity: 1; }&lt;/style&gt;</noscript>
  <!-- Estilo Redes -->
  <style>
    .post-content .sharedaddy {
      display: inline-block;
      margin-left: 120px;
      vertical-align: middle;
      margin-top: 20px;
    }

    .post-content .fcbk_share{
      display: inline-block;
      vertical-align: middle;
      margin: 25px 0 0 0px;
      position: absolute;
    }
  </style>
  <style type="text/css" id="wp-custom-css">
    @import  "http://fonts.googleapis.com/css?family=Oswald:400,300,700";
    @import  "http://www.epn.edu.ec/css/opensans.css";

    /* ¡Bienvenido a Custom CSS!

    CSS (Hojas de estilo en cascada) es un tipo de lenguaje de programación
    que indica al navegador cómo procesar una página web. Puedes eliminar
    estos comentarios y comenzar con tus personalizaciones.

    Por defecto, tu hoja de estilo se cargará después de las hojas de estilo
    del tema, lo que significa que tus normas pueden prevalecer y anular las
    reglas CSS del tema. Solo tienes que escribir aquí lo que quieres cambiar,
    no es necesario copiar todo el contenido de la hoja de estilo de tu tema.
    */
    /****************************/
    /******** Font Usage ********/
    /****************************/
    * {
      font-family: opensans, 'sans-serif' !important;
    }

    p {
      text-align: justify;
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: opensans, 'sans-serif' !important;
      color: #052E5E;
    }

    h1, h2, h5, h6 {
      font-weight: 400;
    }

    h3, h4 {
      font-weight: 400;
    }

    h3 {
      line-height: 40px;
    }

    .container h3 font {
      font-size: 20px !important;
    }

    .container h4 font {
      font-size: 18px !important;
    }

    ul, ol {
      padding: 0 0 24px 30px;
      list-style: inherit;
    }

    li {
      margin-bottom: 12px;
    }

    li, p, strong, b, .container a,
    p font {
      font-size: 14px !important;
    }

    blockquote {
      padding: 10px;
      font-style: italic;
    }

    pre {
      display: inline-block;
      white-space: initial;
      margin-bottom: 24px;
      background-color: rgba(238,237,227,0.5);
      padding: 5px;
      text-align: justify;
    }

    .submenuleft ul,
    .sf-menu,
    .sf-menu * {
      padding: 0;
    }

    .submenuleft li {
      margin-bottom: 0;
    }

    /** **/
    div.wdpu-text {
      padding: 0 !important;
    }

    /****************************/
    /********** HEADER **********/
    /****************************/
    .header {
      background: #FFF url('../gui/header/bg_head.png') fixed center top !important;
      padding-bottom: 47px;
    }

    .head_content .top_nav {
      padding-top: 0;
      margin-bottom: 0;
    }

    .head_content .top_nav ul li:after {
      content: none;
    }

    @media only screen and (max-width: 965px) and (min-width: 821px) {
      .container_12 .grid_4 {
        width: 285px;
      }

      .container_12 .grid_8 {
        width: 494px;
      }
    }

    @media screen and (max-width: 959px) and (min-width: 821px) {
      .header {
        padding-bottom: 47px !important;
      }

      .head_content .main_nav {
        bottom: -47px;
      }
    }

    @media screen and (max-width: 820px) {
      .header {
        padding-bottom: 0 !important;
      }

      .head_content .main_nav {
        bottom: -47px;
      }
    }

    .head_content .head_logo {
      padding: 0;
    }

    .head_content .head_logo_ad {
      margin: 0 !important;
    }

    .head_content .head_logo a.aligncenter_text {
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: left !important;
    }

    /********************************* ini TWO MENUs *********************************/
    ul#menu-body-menu,
    .head_content .main_nav {
      text-align: justify;
      padding: 0;
    }

    ul#menu-body-menu li,
    .head_content .main_nav li {
      display: table !important;
      float: left;
      zoom: 1;
      border-color: #BBB !important;
      border-style: dotted !important;
      box-sizing: border-box;
      height: 40px;
    }

    ul#menu-body-menu li ul li,
    .head_content .main_nav li ul li {
      display: block;
      min-width: 150px;
    }

    ul#menu-body-menu li:last-child,
    .head_content .main_nav li:last-child {
      border-right: 0;
    }

    ul#menu-body-menu li a,
    .head_content .main_nav li a {
      display: table-cell !important;
      padding: 5px 2px !important;
      text-align: center;
      vertical-align: middle;
      font-family: opensans, 'sans-serif' !important;
      font-size: 10.4px !important;
      line-height: 14px !important;
      text-transform: uppercase;
      color: #FFF !important;
    }

    ul#menu-body-menu li font,
    .head_content .main_nav li font {
      font-size: 10.4px !important;
      line-height: 14px !important;
    }

    .head_content .topmenu_mobile {
      top: 120px;
      background-color: #052E5E !important;
      color: #FFF !important;
    }

    .head_content .topmenu_mobile,
    .head_content .mainmenu_mobile span:first-child {
      font-family: opensans, 'sans-serif' !important;
    }

    /********************************* end TWO MENUs *********************************/
    /********************************* ini TOP MENU *********************************/
    div.top_nav {
      border: 1px solid #CCD4DE !important;
      border-top: none !important;
      box-sizing: border-box;
      background: #FFF !important;
    }

    ul#menu-body-menu {
      width: 100%;
    }

    ul#menu-body-menu li {
      border-right-width: 1px;
      width: 9%;
      /*10%;*/
      margin-bottom: 0;
    }

    ul#menu-body-menu li a {
      font-size: 9px;
      color: #052E5E !important;
    }

    ul#menu-body-menu li a:hover {
      font-size: 9px;
      background-color: #CCD4DE;
      color: #000 !important;
    }

    .header hr {
      display: none;
    }

    /********************************* end TOP MENU *********************************/
    /********************************* ini LOW MENU *********************************/
    .head_content .main_nav,
    .head_content .mainmenu_mobile {
      zoom: 1;
      background-image: none;
      background: #A60000;
      border: 0 !important;
    }

    .head_content .main_nav,
    .head_content .mainmenu_mobile {
      -webkit-border-top-left-radius: 0;
      border-top-left-radius: 0;
      -webkit-border-top-right-radius: 0;
      border-top-right-radius: 0;
      border: 0 !important;
    }

    .head_content .main_nav li {
      width: 11%;
      max-width: 11% !important;
      letter-spacing: -.666667px;
      /* 11.111111111111%; */
    }

    .head_content .main_nav &gt; ul &gt; li.current-menu-item,
                                         .head_content .main_nav &gt; ul &gt; li:hover {
                                                                                background-color: #E2231A;
                                                                                border-color: #BBB;
                                                                              }

    @media screen and (max-width: 820px) {
      .head_content .main_nav {
        padding: 0;
        bottom: 0;
      }

      .head_content .main_nav li {
        display: block;
        min-width: 99%;
      }

      .head_content .main_nav li a {
        letter-spacing: 0;
      }
    }

    .sf-menu li:hover ul,
    .sf-menu li.sfHover ul {
      left: 0;
      top: 36px;
    }

    .sf-menu ul {
      background: #B81E1E;
    }

    .sf-menu ul li a {
      border-bottom: 1px dotted #D66;
    }

    .sf-menu li:hover ul li,
    .sf-menu li.sfHover ul li {
      width: 150px;
    }

    /********************************* end LOW MENU *********************************/
    /********************************* SOCIAL *********************************/
    #floatsocial {
      position: absolute;
      padding: 0 1px;
    }

    #floatsocial a {
      display: inline-block;
      margin: 2px 1px;
    }

    @media screen and (min-width: 821px) {
      #floatsocial {
        top: 54px;
        right: 110px;
        background-color: rgba(255,255,255,0.75);
      }
    }

    @media screen and (max-width: 820px) {
      #floatsocial {
        top: -180px;
        right: 0;
        background-color: rgba(255,255,255,0.75);
      }

      #floatsocial a {
        display: inline;
      }

      #floatsocial a img {
        height: 26px;
        width: 26px;
      }

      #floatsocial a#idahbtt3 img#idhbtt3 {
        height: 46%;
        width: 46%;
      }
    }

    .topsearch {
      background-color: rgba(0,0,0,0);
      height: 32px;
      line-height: 32px;
      margin-top: 4px;
      border-bottom: none;
      padding: 0;
    }

    .topsearch input.socialsearch {
      background: #FFF url(http://34.200.161.210/wp-content/themes/wp-education/includes/images/ics.png) no-repeat 98% 7px;
      border: 1px solid #052E5E;
      width: 208px;
      padding: 0 5px;
      height: 30px;
      font-family: opensans, 'sans-serif';
      line-height: 30px;
      color: #052E5E;
    }

    @media screen and (max-width: 820px) and (min-width: 300px) {
      .topsearch {
        display: none;
      }

      .head_content .head_logo a.aligncenter_text img {
        width: 45%;
      }

      #floatsocial a {
        margin: 1px;
      }

      .mobile_options {
        top: 86px !important;
        right: 5px !important;
        width: 135px !important;
        z-index: 1000;
      }

      #google_language_translator {
        margin-top: -3px;
      }

      iframe#ifOaq {
        margin: 1px 0 0 -3px !important;
      }

      #floatsocial a#idahbtt3 img#idhbtt3 {
        height: 91% !important;
        width: 91% !important;
      }

      #floatsocial a#idahbtt3 {
        width: 43% !important;
      }
    }

    /****************************** WIDGET *****************************/
    .sidebar .widget {
      padding: 0;
    }

    .container .widget {
      background-color: rgba(255,255,255,0.5);
      margin: 24px 0 0;
      border: 1px solid #DDD;
      border-top: none;
    }

    .container .widget h1,
    .container .widget h1 a {
      color: #FFF;
      text-transform: uppercase;
      font-weight: 200;
      padding: 5px 10px;
      margin: 0 0 24px;
      background-color: #052E5E;
      font-size: 20px !important;
    }

    /******* POSTS STYLE ********/
    .content .post {
      background: transparent;
    }

    .content .post .post-head {
      background: none;
      position: static;
      min-height: 0;
      max-height: 0;
    }

    .content h1.title {
      font-size: 24px;
      line-height: 64px;
      font-weight: 400;
      padding: 0;
      color: #052E5E;
      border-bottom: 0;
    }

    body.single-post h1.title {
      text-transform: uppercase;
      line-height: 36px;
      font-weight: 200;
      color: #FFF;
      background: #052E5E;
      margin: 24px 0;
      padding: 5px 12px;
      border-bottom: 0;
    }

    /****************************/
    /*********** BODY ***********/
    /****************************/
    .wpb_row {
      margin-bottom: 0 !important;
    }

    .content.full {
      margin-top: 24px;
    }

    img.alignright,
    img.alignleft,
    img.aligncenter {
      margin: 10px;
    }

    img.alignright {
      margin-right: 0;
    }

    img.alignleft {
      margin-left: 0;
    }

    .wpb_content_element {
      margin-bottom: 24px !important;
    }

    .submenuleft .wpb_content_element,
    .noticiass .wpb_content_element {
      margin-bottom: 0 !important;
    }

    .fullwidthmenubutton {
      width: 100%;
    }

    div.sharedaddy h3.sd-title {
      font-weight: 200;
      text-transform: uppercase;
    }

    /***************************** CATEGORIAS *******************************/
    /********** (noticias en masa automáticas en search y category **********/
    /************************************************************************/
    .category .post_block {
      /* height: 350px; */
    }

    .search .post_block .block-content,
    .category .post_block .block-content {
      padding: 0;
    }

    .search .post_block h1,
    .category .post_block h1 {
      width: 100%;
      font-weight: 200;
      color: #FFF !important;
      text-transform: uppercase;
      font-size: 15px !important;
      line-height: 35px !important;
      height: 35px;
      padding: 0 10px;
      overflow: hidden;
    }

    .search .post_block a,
    .category .post_block a {
      background-color: #052E5E;
      display: block;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
    }

    .search .post_block a:hover,
    .category .post_block a:hover {
      background-color: #4C7DB8;
    }

    .search .post_block .info span.alignright,
    .category .post_block .info span.alignright {
      font-size: 0;
      color: rgba(255,255,255,0);
    }

    .search .post_block .description,
    .category .post_block .description {
      margin-top: 0 !important;
      color: #666 !important;
      font-size: 13px;
      height: 110px;
      overflow: hidden;
      padding: 8px 10px;
      text-align: justify;
      box-sizing: border-box;
      background-color: #FFF;
      border: 1px solid rgba(5,46,94,0.2);
    }

    .search .block-pagination,
    .content .block-pagination {
      background: #052E5E;
    }

    .search .block-pagination a,
    .content .block-pagination a {
      background-color: rgba(255,255,255,0.33);
      -webkit-border-radius: 0;
      background-image: none;
      -moz-border-radius: 0;
      margin-bottom: 1px;
      margin-right: 1px;
      border-radius: 0;
      color: #FFF;
      height: 30px;
      border: none;
      font-weight: 600;
      line-height: 30px;
      text-align: center;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
    }

    .search .block-pagination .by_number a.,
    .content .block-pagination .by_number a {
      width: 30px;
      padding: 0;
    }

    .search .block-pagination a:hover,
    .search .block-pagination a.active,
    .content .block-pagination a:hover,
    .content .block-pagination a.active {
      background-color: rgba(255,255,255,0.8);
      color: #052E5E;
    }

    .search .post_block div.info,
    .content .post_block div.info {
      color: #FFF;
    }

    .search .post_block div.info time,
    .content .post_block div.info time {
      padding: 5px;
      background-color: #052E5E;
      box-sizing: border-box;
      width: 100%;
      float: none;
      display: block;
    }

    /**************************************** Main Category ***********************************/
    /* FORMATO GLOBAL (2,5D) [NO EDITABLE] */
    ul.submenucont,
    ul.submenucont_repositorio {
      box-sizing: border-box;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    ul.submenucont li,
    ul.submenucont_repositorio li {
      display: block;
      float: left;
      box-sizing: border-box;
      margin: 0;
      padding: 1px;
      list-style: none;
      -webkit-perspective: 500px;
      -moz-perspective: 500px;
      -ms-perspective: 500px;
      -o-perspective: 500px;
      perspective: 500px;
    }

    /* MENUES NORMALES (5 columnas) */
    ul.submenucont li {
      width: 20%;
    }

    /* MENUES REPOSITORIO (6 columnas, para variar introduzca el valor porcentual preciso "# cajas/100" con tantos decimales como sea posible) */
    ul.submenucont_repositorio li {
      width: 16.666666666667%;
    }

    /* FORMATO MOBILE [NO EDITAR] */
    @media screen and (max-width: 820px) {
      ul.submenucont li,
      ul.submenucont_repositorio li {
        width: 33.3333333333%;
      }
    }

    ul.submenucont li a,
    ul.submenucont_repositorio li a {
      border: 0;
    }

    ul.submenucont li a div,
    ul.submenucont_repositorio li a div {
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
    }

    ul.submenucont li a:hover div,
    ul.submenucont_repositorio li a:hover div {
      opacity: .75;
      -webkit-transform: rotateY(10deg) translateZ(-12px);
      -moz-transform: rotateY(10deg) translateZ(-12px);
      -ms-transform: rotateY(10deg) translateZ(-12px);
      -o-transform: rotateY(10deg) translateZ(-12px);
      transform: rotateY(10deg) translateZ(-12px);
    }

    /**************************************** INNER PAGES STUFF ***********************************/
    .wpb_accordion.submenuleft .wpb_accordion_wrapper .wpb_accordion_header {
      margin: 0;
      background-color: #A60000 !important;
    }

    .wpb_content_element.submenuleft .wpb_accordion_header a {
      padding: 10px 5px;
      font-size: 15px !important;
      text-transform: uppercase;
      color: #FFF;
    }

    .wpb_accordion.submenuleft .wpb_accordion_wrapper .ui-state-active .ui-icon,
    .wpb_accordion.submenuleft .wpb_accordion_wrapper .ui-state-default .ui-icon {
      background-color: rgba(255,255,255,0.25);
      background-position: left top;
    }

    .wpb_content_element.submenuleft .wpb_accordion_wrapper .wpb_accordion_content {
      padding: 0;
    }

    .wpb_content_element.submenuleft .wpb_accordion_wrapper .wpb_accordion_content ul li {
      width: 100%;
      border-bottom: 1px solid #DDD;
    }

    .wpb_content_element.submenuleft .wpb_accordion_wrapper .wpb_accordion_content ul li a,
    .wpb_content_element.submenuleft .wpb_accordion_wrapper .wpb_accordion_content ul li p {
      display: block;
      width: 95%;
      padding: 5px;
    }

    .wpb_content_element.submenuleft .wpb_accordion_wrapper .wpb_accordion_content ul li p {
      color: #690a1a;
      font-size: 14px;
      cursor: default;
    }

    .wpb_content_element.submenuleft .wpb_accordion_wrapper .wpb_accordion_content ul li ul li {
      border-left: 10px solid #DDD;
    }

    .wpb_content_element.submenuleft .wpb_accordion_wrapper .wpb_accordion_content ul li ul li a {
      font-size: 12px !important;
    }

    .wpb_content_element.submenuleft .wpb_accordion_wrapper .wpb_accordion_content ul li a:hover {
      background-color: #EEE;
    }

    .wpb_content_element.wpb_raw_html {
      margin-bottom: 24px;
    }

    /*********************************** NEWS PACKAGES ***********************************/
    .content &gt; .gridholder {
                    margin-top: 24px;
                  }

    .post_block .block .info {
      padding: 13px 0 0;
      font-family: opensans, Arial, sans-serif;
    }

    /*********************************** CUSTOM ACCORDION ***********************************/
    .wpb_accordion.elasticcontent .wpb_accordion_wrapper .wpb_accordion_header {
      line-height: 25px;
      background-color: #052E5E;
    }

    .wpb_accordion.elasticcontent .wpb_accordion_wrapper .wpb_accordion_header a {
      padding-left: 0;
      color: #FFF;
      font-weight: 200;
      text-transform: uppercase;
    }

    .wpb_accordion.elasticcontent .wpb_accordion_wrapper .ui-state-default .ui-icon {
      background-color: rgba(255,255,255,0.25);
      background-position: left top;
    }

    .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header, .wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab {
      background-color: #E0E0E0 !important;
      border: 1px solid #ccc;
    }

    .wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon, .wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon {
      border-radius: 4px;
      background: #052E5E;
    }

    .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a {
      padding-left: 0;
      font-size: 16px !important;
    }

    /****************************************** CUSTOM TABLE **************************************/
    table.customtable {
      background-color: #052E5E;
    }

    table.customtable td {
      background-color: #FFF;
      padding: 4px;
      border: 1px solid #052E5E;
    }

    table.customtable td.title {
      background-color: rgba(255,255,255,0.1);
      color: #FFF;
      text-align: center;
    }

    /**************************************** CUSTOM TABLE 2 **************************************/
    table.epntables {
      min-width: 620px;
    }

    @media screen and (max-width:964px) {
      table.epntables {
        min-width: 494px;
      }
    }

    @media screen and (max-width:819px) {
      table.epntables {
        min-width: 100%;
      }
    }

    table.epntables tr.titles {
      background-color: #0D2240;
      color: #FFF;
    }

    table.epntables td {
      border: 1px solid #CCC;
      padding: 5px;
      font-size: 14px;
      text-align: left;
      vertical-align: middle;
    }

    table.epntables tr.titles td {
      border: 1px solid #FFF;
      text-transform: uppercase;
      text-align: center;
    }

    table.epntables td a {
      font-size: 14px !important;
      font-family: oswald;
      font-weight: 200;
      color: #A60000;
    }

    table.epntables td.lt {
      text-align: left !important;
    }

    table.epntables td.rt {
      text-align: right !important;
    }

    /***************************************** FACEBOOK BOX ***************************************/
    .widget_facebook_likebox iframe {
      width: 100% !important;
    }

    /****************************************** STYLE BOXES ***************************************/
    .homenewsblock {
      border: #DDD 1px solid;
      box-sizing: border-box;
    }

    .homenewsblock .title,
    .homenewsblock .dragassistant,
    div.titleinner {
      position: relative;
      display: block;
      width: 100%;
      background-color: #052E5E;
    }

    .homenewsblock .title h2.toph2,
    div.titleinner h3.titleinnerh3,
    div.titleinner h4.titleinnerh4,
    div.titleinner h5.titleinnerh5 {
      color: #FFF;
      padding-left: 15px;
      font-family: opensans, 'sans-serif' !important;
      font-weight: 200;
      text-transform: uppercase;
    }

    .homenewsblock .title h2.toph2,
    div.titleinner h3.titleinnerh3 {
      line-height: 48px;
    }

    div.titleinner h4.titleinnerh4 {
      line-height: 36px;
    }

    div.titleinner h5.titleinnerh5 {
      font-size: 12px !important;
      font-weight: 300;
      height: 80px;
      padding-right: 15px;
      display: table-cell !important;
      vertical-align: middle;
    }

    .homenewsblock .title a.topa,
    div.titleinner a.topa {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      padding: 0 12px;
      border-left: 1px solid rgba(255,255,255,0.15);
      height: 48px;
      font-family: opensans, 'sans-serif' !important;
      text-transform: uppercase;
      line-height: 48px;
      font-weight: 400;
      font-size: 12px;
      color: #FFF;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -o-transition: all .3s;
      -ms-transition: all .3s;
      transition: all .3s;
    }

    div.titleinner a.topa {
      height: 36px;
      line-height: 36px;
      font-size: 12px !important;
    }

    @media only screen and (max-width: 767px) {
      .homenewsblock .title a.topa,
      div.titleinner a.topa {
        font-size: 0 !important;
      }

      .homenewsblock .title a.topa:after,
      div.titleinner a.topa:after {
        content: '+';
        font-size: 40px;
        font-weight: 200;
      }
    }

    .homenewsblock .title a.topa:hover,
    div.titleinner a.topa:hover {
      background-color: rgba(255,255,255,0.15);
    }

    .homenewsblock .dragassistant {
      text-align: center;
      line-height: 20px;
      font-size: 10px !important;
      text-transform: uppercase;
      display: none;
    }

    @media screen and (max-width: 811px) {
      .homenewsblock .dragassistant {
        display: block;
      }
    }

    div.homenewsblock ul {
      padding: 0;
    }

    div.homenewsblock ul li {
      margin-bottom: 0;
    }

    /********************************************* CALENDAR **********************************************/
    .ajde_evcal_calendar {
      background-color: #FFF;
    }

    #eventon_loadbar_section,
    .ajde_evcal_calendar .eventon_events_list .eventon_list_event {
      background-color: #052E5E;
      margin-top: 0;
      border-bottom: none;
    }

    .ajde_evcal_calendar .calendar_header {
      margin: 0;
      padding: 0 0 8px;
      background-color: #052E5E;
    }

    .ajde_evcal_calendar .calendar_header p {
      padding: 0 15px 0 12px;
      font-family: opensans, 'sans-serif' !important;
      color: #FFF !important;
      line-height: 45px;
      font-weight: 100;
      font-size: 20px;
    }

    .ajde_evcal_calendar .calendar_header .evcal_arrows {
      margin-top: 11px !important;
      height: 22px;
      width: 22px;
      background-color: rgba(255,255,255,0.5);
      border: none;
      color: #052E5E;
    }

    .ajde_evcal_calendar .calendar_header .evcal_arrows:hover {
      background-color: rgba(255,255,255,1);
    }

    .ajde_evcal_calendar .calendar_header .evcal_arrows .fa {
      font-weight: bold;
      margin-top: -1px;
    }

    .ajde_evcal_calendar .calendar_header .evcal_arrows:hover .fa {
      color: #052E5E;
    }

    #evcal_head.calendar_header #evcal_cur:before {
      content: 'Eventos para ';
    }

    #evcal_widget .eventon_events_list .eventon_list_event .evcal_desc {
      padding: 5px 15px 0 10px;
      margin-top: 40px;
      margin-right: 10px;
      top: 0;
      border-top: 1px dotted #CCC;
    }

    #evcal_widget .eventon_events_list .eventon_list_event .evcal_desc .evcal_desc_info em {
      color: #8c8c8c;
    }

    .ajde_evcal_calendar #evcal_prev {
      margin-left: 25px !important;
    }

    #evcal_list {
      border-right: none !important;
    }

    #evcal_list .eventon_list_event .evcal_desc span.evcal_event_title {
      font-family: Oswald, "Arial Narrow";
      font-size: 14px;
      text-align: left;
    }

    #evcal_list .eventon_list_event .evcal_desc em {
      font-size: 12px;
      font-style: normal;
    }

    .eventon_events_list .eventon_list_event .evcal_cblock em.evo_date, .evo_pop_body .evcal_cblock em.evo_date {
      font-size: 30px;
      color: #666;
    }

    .eventon_events_list .eventon_list_event .evcal_cblock span, .evo_pop_body .evcal_cblock span {
      font-family: Oswald, "Arial Narrow";
      font-size: 25px;
      font-weight: 200;
      line-height: 120%;
    }

    .eventon_events_list .eventon_list_event .evcal_cblock em.evo_month {
      font-size: 20px;
      padding-left: 2px;
    }

    .evcal_desc .evcal_desc3 em i {
      color: #666;
      font-size: inherit;
      font-style: normal;
      text-transform: uppercase;
    }

    /****************************************** HOME CALENDAR ***************************************/
    .homenewsblock .eventon_list_event .desc_trig,
    .eventon_events_list .eventon_list_event .desc_trig {
      background-color: #EEE;
    }

    .homenewsblock .ajde_evcal_calendar .eventon_events_list {
      max-height: 300px;
      overflow: auto;
    }

    @media screen and (min-width: 821px) {
      .homenewsblock .ajde_evcal_calendar .eventon_events_list {
        display: block;
        overflow: auto;
        max-height: 225px;
      }

      .homenewsblock .ajde_evcal_calendar .eventon_events_list .eventon_list_event {
        width: 20%;
        float: left;
      }

      .homenewsblock .eventon_events_list .eventon_list_event .evcal_list_a {
        height: 200px;
      }

      .homenewsblock .eventon_events_list .eventon_list_event .evcal_cblock {
        padding: 0 15px;
      }

      .homenewsblock .eventon_events_list .eventon_list_event .evcal_desc {
        padding: 5px 15px 0 10px;
        margin-top: 40px;
        margin-right: 10px;
        top: 0;
        border-top: 1px dotted #CCC;
      }

      .homenewsblock .eventon_list_event .evcal_desc span.evcal_event_title {
        font-size: 16px !important;
        line-height: 19px !important;
        max-height: 57px;
        overflow: hidden;
        padding-bottom: 0 !important;
        margin-bottom: 3px !important;
      }
    }

    /*********************************************** WRAPPER *********************************/
    .forcefullwidth_wrapper_tp_banner {
      z-index: 0;
    }

    .container {
      margin-top: 0;
    }

    .content .post .post-content {
      padding: 0;
    }

    .shortcode.list li {
      font-size: 16px;
    }

    /*********************************************** NEWS ************************************************/
    .isotope-item {
      position: relative;
      display: block;
      height: 150px;
      background-color: #FFF;
      border-bottom: 1px solid #DDD;
      box-sizing: border-box;
    }

    li.isotope-item:last-child {
      border-bottom: none;
    }

    .isotope-item a.link_title {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      height: 35px;
      display: block;
      padding-left: 20px;
      font-family: opensans, 'sans-serif' !important;
      font-size: 20px !important;
      line-height: 35px;
      font-weight: 400;
      color: #052E5E;
    }

    .isotope-item div.entry-content {
      position: absolute;
      top: 40px;
      height: 100px;
      padding: 0 30px 0 20px;
      overflow: hidden;
      line-height: 20px;
      color: #6D6D6D;
      width: 95%;
    }

    .isotope-item div.entry-content p {
      font-size: 14px;
    }

    .isotope-item a.vc_read_more {
      position: absolute;
      width: 32px;
      height: 32px;
      bottom: 0;
      right: 0;
      background: #a60000;
      font-size: 0 !important;
      color: #a60000;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -o-transition: all .3s;
      -ms-transition: all .3s;
      transition: all .3s;
    }

    .isotope-item a.vc_read_more:hover {
      background: #DA6000;
      color: #DA6000;
    }

    .isotope-item a.vc_read_more:before {
      content: '+';
      position: absolute;
      left: 50%;
      top: 50%;
      height: 20px;
      width: 20px;
      margin-left: -9px;
      margin-top: -21px;
      color: #FFF;
      font-family: opensans, sans-serif;
      font-size: 30px;
    }

    a.showallnews {
      float: right;
      width: 50%;
      background-color: #FFF;
      border-color: #D8D8D8;
      border-right-width: 20px;
      border-bottom-width: 20px;
      border-left-width: 10px;
      border-style: solid;
      padding: 1.5px 10px;
      box-sizing: border-box;
      font-size: 16px;
      font-weight: bold;
      color: #999;
    }

    @media only screen and (max-width: 767px) {
      .isotope-item, a.showallnews {
        width: 100%;
        float: none;
      }

      a.showallnews {
        display: block;
        border-left-width: 20px;
      }

      .wpb_row {
        margin-bottom: 0;
      }
    }

    /*********************************************** SERVICE ************************************************/
    .homenewsblock ul.tabsserv,
    .homenewsblock ul.tabsserv2 {
      display: block;
      width: 100%;
      margin-bottom: 0;
      white-space: nowrap;
      overflow: auto;
      box-sizing: border-box;
    }

    .homenewsblock ul.tabsserv li,
    .homenewsblock ul.tabsserv2 li {
      display: inline-block;
      width: 24.5%;
      padding: 10px;
      text-align: center;
      border-right: 1px solid #DDD;
      box-sizing: border-box;
    }

    .homenewsblock ul.tabsserv li:hover,
    .homenewsblock ul.tabsserv2 li:hover {
      background-color: #DDD;
    }

    .homenewsblock ul.tabsserv li:last-child,
    .homenewsblock ul.tabsserv2 li:last-child {
      border: none;
    }

    .homenewsblock ul.tabsserv li img,
    .homenewsblock ul.tabsserv2 li img {
      width: 100%;
    }

    @media screen and (max-width: 821px) {
      .homenewsblock ul.tabsserv li,
      .homenewsblock ul.tabsserv2 li {
        width: 50%;
        border-bottom: 1px solid #DDD;
        /*padding: 25px;*/
        padding: 1%;
      }

      .homenewsblock ul.tabsserv li:last-child,
      .homenewsblock ul.tabsserv2 li:last-child {
        border-bottom: none;
        border-right: 1px solid #DDD;
      }
    }

    /****************************/
    /******** pretty file list *********/
    /****************************/
    a.prettylink:after {
      height: 100%;
    }

    /****************************/
    /*********** FEET ***********/
    /****************************/
    .footer {
      background-color: #052E5E;
      margin-top: 20px;
      border-top: 5px solid;
      border-color: #A60000;
    }

    .footer_copyright,
    footer a {
      padding-top: 6px;
      padding-bottom: 11px;
      font-family: opensans, sans-serif !important;
      color: #FFF;
      text-decoration: none;
    }

    .footer_copyright span {
      font-family: opensans, sans-serif !important;
    }

    footer a:hover {
      color: #FFF;
      text-decoration: underline;
    }

    footer ul.cinfo {
      padding-bottom: 0;
    }

    .footer_columns {
      background-color: #2B4B70;
      padding-bottom: 10px;
      color: #FFF;
      border-color: #FFF;
    }

    .footer_columns .widget h1 {
      margin-bottom: 10px;
      font-weight: 100;
    }

    .footer_columns .cinfo li {
      font-family: opensans, sans-serif !important;
      border-bottom: 1px dotted #666;
      display: block;
      min-height: 29px;
    }

    .footer_columns .cinfo li:last-child {
      border-bottom: 0 !important;
    }

    .footer_columns .cinfo li span {
      display: block;
      width: 25px;
      height: 30px;
      float: left;
      margin-right: 5px;
    }

    .footer_columns .cinfo li span.address {
      background: url(../gui/icon/feet_house.svg) no-repeat left bottom;
    }

    .footer_columns .cinfo li span.email {
      background: url(../gui/icon/feet_envelope.svg) no-repeat left bottom;
    }

    .footer_columns .cinfo li span.phone {
      background: url(../gui/icon/feet_phone.svg) no-repeat left bottom;
    }

    .footer_columns div.social_feet a {
      display: inline-block;
      height: 32px;
      width: 32px;
    }

    #floatsocial a,
    #floatsocialfeet a,
    #floatgobierno a,
    #floatgobiernofeet a {
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -o-transition: all .3s;
      -ms-transition: all .3s;
      transition: all .3s;
      padding-top: 0;
      padding-bottom: 0;
      display: inline-block;
    }

    #floatsocial a.fl,
    #floatsocialfeet a.fl {
      background-color: #EEE;
    }

    #floatsocial a.fb,
    #floatsocialfeet a.fb {
      background-color: #3B5998;
    }

    #floatsocial a.tw,
    #floatsocialfeet a.tw {
      background-color: #55ACEE;
    }

    #floatsocial a.yt,
    #floatsocialfeet a.yt {
      background-color: #B31217;
    }

    .footer_columns div.social_feet a.vt,
    #floatsocial a.vt,
    #floatsocialfeet a.vt {
      background-color: #231F20;
    }

    .footer_columns div.social_feet a.rs,
    #floatsocial a.rs,
    #floatsocialfeet a.rs {
      background-color: #FF7800;
    }

    #floatsocial a:hover,
    #floatsocialfeet a:hover {
      background-color: #999;
    }

    #floatgobierno a,
    #floatgobiernofeet a {
      margin: 1px 0 !important;
    }

    img#wpstats {
      display: none;
    }

    /* Buttons */
    .cstm_btn,
    .cstm_btn_2 {
      display: inline-block;
      cursor: pointer;
      white-space: nowrap;
      background-color: #052E5E;
      color: #FFF !important;
      font-size: 18px !important;
      font-weight: 200 !important;
      line-height: 1em !important;
      text-align: center;
      text-decoration: none !important;
      vertical-align: middle;
      -webkit-transition: all .5s;
      -khtml-transition: all .5s;
      -moz-transition: all .5s;
      transition: all .5s;
      padding: .5em 3em;
      line-height: 1em;
    }

    .cstm_btn font,
    .cstm_btn_2 font {
      font-size: 18px !important;
      font-weight: 200 !important;
      line-height: 1em !important;
    }

    .cstm_btn_2 {
      background-color: #A60000;
      color: #FFF !important;
      padding: 8px 12px;
    }

    .cstm_btn:hover {
      background-color: #001F44;
      color: #F7F7F7 !important;
    }

    .cstm_btn_2:hover {
      background-color: #DA6000;
    }

    .footer_columns .widget h1 font {
      font-size: 18px;
    }

    footer .textwidget ul {
      padding-left: 0 !important;
    }

    table#resultados {
      float: left;
    }

    .topsearch input.socialsearch {
      width: 280px !important;
    }

    /*===================================*/
    /* ESTILOS DE HORA OAQ */
    div.clsFoaq {
      border: 0 solid #000;
      text-align: center;
      color: #052E5E;
      width: 296px !important;
    }

    div.clsFoaq input.textbox {
      border: 0;
      background: #D5AA65;
      font-size: 1.8em;
      font-weight: 700;
      text-align: center;
      color: #fff;
      border-left: 1px solid #fff;
      padding: 0;
      margin: 2px 0;
      width: 141px;
    }

    div.clsFoaq label.clsHoaqLogo {
      background: url('/wp-content/uploads/2015/06/hoaqLogo.svg');
      background-position: -15px 0;
      width: 150px !important;
      height: 30px;
      float: left;
      border-right: 1px solid #fff;
      cursor: pointer;
    }

    div.clsFoaq a.clsAlabel {
      margin: 0;
      padding: 0;
      float: left;
      cursor: pointer;
    }

    div.clsFoaq a.clsAlabel:hover {
      cursor: pointer;
    }

    div.clsFoaq a.clsHoaqLogo:hover {
      cursor: pointer;
    }

    div.clsFoaq a#idahbtt3 {
      width: 50%;
    }

    /*===================================*/
    iframe#ifOaq {
      margin: 2px 0 0 -3px;
    }		</style>
  <!-- fin estilo -->
  <link type="text/css" rel="stylesheet" charset="UTF-8" href="https://translate.googleapis.com/translate_static/css/translateelement.css"><script type="text/javascript" charset="UTF-8" src="https://translate.googleapis.com/translate_static/js/element/main_es.js"></script><style type="text/css">.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_reposition{overflow:hidden;position:relative}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}.fb_link img{border:none}@keyframes fb_transform{from{opacity:0;transform:scale(.95)}to{opacity:1;transform:scale(1)}}.fb_animate{animation:fb_transform .3s forwards}
    .fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_reset .fb_dialog_legacy{overflow:visible}.fb_dialog_advanced{padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}.fb_dialog_content{background:#fff;color:#333}.fb_dialog_close_icon{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent}.fb_dialog_close_icon:active{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent}.fb_dialog_loader{background-color:#f6f7f9;border:1px solid #606060;font-size:24px;padding:20px}.fb_dialog_top_left,.fb_dialog_top_right,.fb_dialog_bottom_left,.fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}.fb_dialog_top_left{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}.fb_dialog_top_right{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}.fb_dialog_bottom_left{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}.fb_dialog_bottom_right{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}.fb_dialog_vert_left,.fb_dialog_vert_right,.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}.fb_dialog_vert_left,.fb_dialog_vert_right{width:10px;height:100%}.fb_dialog_vert_left{margin-left:-10px}.fb_dialog_vert_right{right:0;margin-right:-10px}.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{width:100%;height:10px}.fb_dialog_horiz_top{margin-top:-10px}.fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #365899;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{-webkit-transform:none;height:100%;margin:0;overflow:visible;position:absolute;top:-10000px;left:0;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{width:auto;height:auto;min-height:initial;min-width:initial;background:none}.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner{width:100%}.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content{background:none}.loading.centered #fb_dialog_loader_close{color:#fff;display:block;padding-top:20px;clear:both;font-size:18px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;bottom:0;left:0;right:0;top:0;width:100%;min-height:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));border:1px solid #29487d;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f6f7f9;border:1px solid #555;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}#fb_dialog_loader_spinner{animation:rotateSpinner 1.2s linear infinite;background-color:transparent;background-image:url(http://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);background-repeat:no-repeat;background-position:50% 50%;height:24px;width:24px}@keyframes rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
    .fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_fluid_desktop,.fb_iframe_widget_fluid_desktop span,.fb_iframe_widget_fluid_desktop iframe{max-width:100%}.fb_iframe_widget_fluid_desktop iframe{min-width:220px;position:relative}.fb_iframe_widget_lift{z-index:1}.fb_hide_iframes iframe{position:relative;left:-10000px}.fb_iframe_widget_loader{position:relative;display:inline-block}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}.fb_iframe_widget_loader .FB_Loader{background:url(http://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}</style><script type="text/javascript" charset="UTF-8" src="https://translate.googleapis.com/element/TE_20170814_01/e/js/element/element_main.js"></script>
</head>
<body>
<h1>Escuela Politecnica Nacional</h1>
<div id="page-header" class="clearfix container">

  <!-- Logo EPN-->
  <div class="head_logo grid_4 alignleft"> <a href="http://www.epn.edu.ec" class="aligncenter_text"> <img src="https://educacionvirtual.epn.edu.ec/theme/image.php/bcu/theme/1496672828/logo" id="logo">
      <!-- <img scale="0" src="bcu/pix/epn/logo.svg">-->
    </a>
    <div class="clear"></div>
  </div>
  <div class="head_logo_ad grid_8">
    <div id="rightcontent">
      <div class="seal">


      </div>
    </div>

    <!-- Fin Logo EPN-->

    <div id="course-header">  </div>
  </div>
  <div class="wpb_column vc_column_container vc_col-sm-9"><div class="vc_column-inner "><div class="wpb_wrapper">
        <div class="wpb_raw_code wpb_content_element wpb_raw_html">
          <div class="wpb_wrapper">
            <div class="titleinner"><h3 class="titleinnerh3"> Síntesis Histórica</h3></div>
          </div>
        </div>

        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <p><img class="alignleft" src="http://www.epn.edu.ec/wp-content/uploads/historia_1.jpg" alt="" width="470" height="315" align="middle" border="0">La Escuela Politécnica Nacional fue fundada el 27 de agosto de 1869 por el Presidente García Moreno, quien contó con el apoyo del Superior de la Compañía de Jesús. La naciente Politécnica fue concebida como el primer centro de docencia e investigación científica, como órgano integrador del país y como ente generador del desarrollo nacional. Fue el Provincial Alemán de la Orden de la Compañía de Jesús, quien envía al Ecuador para la naciente Politécnica, un equipo de sabios y jóvenes religiosos, con una relevante preparación científica, unido a un inquebrantable espíritu de trabajo y una ejemplar identificación con el país. Ellos fueron: el alemán Juan Bautista Menten, primer decano –director, el alemán Teodoro Wolf y el italiano Luis Sodiro.</p>
            <p><img class="alignright" src="http://www.epn.edu.ec/wp-content/uploads/historia_2.jpg" alt="" width="185" height="350" border="0">En su primera etapa tiene una existencia muy corta. El 15 de septiembre de 1876, el Presidente Borrero la cierra, debido a razones políticas. El 28 de febrero de 1935, el Presidente Velasco Ibarra firma el decreto de reapertura de la EPN, destinada a estudios de Matemáticas, Cosmografía, Física, Química Aplicada, Electrotecnia, Ingeniería Minera y Geología. El 4 de junio de 1946 mediante decreto expedido por el Presidente Velasco Ibarra, en su segunda magistratura, se cambia la denominación de Instituto Superior Politécnico por el de Escuela Politécnica Nacional, con el cual ha venido funcionando ininterrumpidamente hasta nuestros días.</p>
            <p>Hasta 1960, la EPN funcionaba en un pequeño edificio de la Alameda, en un área de 600 metros cuadrados, en las que se encontraban las aulas, los laboratorios y las oficinas administrativas. Funcionaban las Facultades de Ingeniería Eléctrica, Química y dio sus primeros pasos el Instituto de Ciencias Nucleares.</p>
            <br>
            <a href="http://www.epn.edu.ec" color="blue" style="font-style: italic">Link de la Escuela Politecnica Nacional</a>
            <br>
            <a href="/">Regresar a la ventana principal</a>
          </div>
        </div>

        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <p>&nbsp;</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15959.165895332637!2d-78.4886912!3d-0.2101867!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x88a284f66939ed4!2sEscuela+Polit%C3%A9cnica+Nacional!5e0!3m2!1ses!2sec!4v1503145383623" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div></div></div>

</div>

<div></div>
</body>
</html>
