<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<img class="center-block" src="http://2.bp.blogspot.com/-hho7v2DSEJg/ViBBhKVK9LI/AAAAAAAAAQo/ddOM1X02qOQ/s1600/Cuentas_de_usuario.png" alt="">

<div class="row">
  <div class="col-sm-4"></div>

  <div class="col-sm-8">

    <h1>Registro del usuario</h1>


    <form action="/signup" method="post/get">

      <label for="name">Escriba su nombre:</label>
      <input name="name" type="text"/>
      <br/>

      <label for="email">Escriba su correo</label>
      <input name="email" type="text"/>
      <br/>

      <label for="password">Escriba una contraseña</label>
      <input name="password" type="password"/>
      <br/>

      <input type="submit"/>
  </div>

</div>

<body style="background-color:#ffffae;">
</body>
<a href="/">Regresar a la ventana principal</a>
</form>
</body>
</html>

