<html><head>

  <title>Eleccion Universidad </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

<script><!--
  var name="Aspirante"
  // -->
</script>

<script language="JavaScript">

  function quiz(){
    var i = 0
    var total=document.forms.length-1
    var ncorrect=0
    var response=new Array(total)
    var theForms=new Array(total)
    var answer=new Array(total)

    for (i=1; i<=total;i++)
      theForms[i]=document.forms[i-1]

    for (i=1; i <= total; i++)
      response[i]=theForms[i].answer.selectedIndex

    for (i=1; i<=total;i++)
      answer[i]=theForms[i].correct.value
    var faltantes="";
    var flag=true
    var con=0;
    var uni=0;
    for (i=1; i <= total; i++)
      if (response[i]==0) {
        faltantes+=i+"\n"
        con+=1
        flag=false
      }
    if (flag) {
      for (i=1; i <= total; i++)
        if (response[i]==answer[i]) ncorrect++
      document.total.score.value = ncorrect
      var per =  Math.round((ncorrect / total) * 100)
      document.total.percent.value = per
      document.total.outof.value=total
      document.total.puntaje.value=document.total.score.value*10

      var variable="Hola mundo";
      function leevariable(){
        alert(variable);
      }
    } //end if (flag)


    if (con < 1) {
      uni=document.total.score.value*10
      if(uni>=170)
      {
        alert("Escuela Politecnica Nacional "+document.total.puntaje.value)
        window.location="EPNDescription";
      }
      else if(uni>=130&&uni<170)
      {
        alert("Universidad Central del Ecuador "+document.total.puntaje.value)
        window.location="UCEDescription/";
      }
      else{
        alert("Universidad Salesiana "+document.total.puntaje.value)
        window.location="UPSDescription/";
      }
    } else {
      alert("Atención: no has contestado la pregunta # \n" + faltantes )
    }
  }
  function quizp(){
    var i = 0
    var total=document.forms.length-1
    var ncorrect=0
    var response=new Array(total)
    var theForms=new Array(total)
    var answer=new Array(total)

    for (i=1; i<=total;i++)
      theForms[i]=document.forms[i-1]

    for (i=1; i <= total; i++)
      response[i]=theForms[i].answer.selectedIndex

    for (i=1; i<=total;i++)
      answer[i]=theForms[i].correct.value
    var faltantes="";
    var flag=true
    var con=0;
    var uni=0;
    for (i=1; i <= total; i++)
      if (response[i]==0) {
        faltantes+=i+"\n"
        con+=1
        flag=false
      }
    if (flag) {
      for (i=1; i <= total; i++)
        if (response[i]==answer[i]) ncorrect++
      document.total.score.value = ncorrect
      var per =  Math.round((ncorrect / total) * 100)
      document.total.percent.value = per
      document.total.outof.value=total
      document.total.puntaje.value=document.total.score.value*10
    } //end if (flag)
    if (con < 1) {
    } else {
      alert("Atención: no has contestado la pregunta # \n" + faltantes )
    }
  }
  // -->
</script>

<br><br>

<br><br><br><br>

<div align="center">
  <font face="Arial" size="3">
    Hola <b><script language="Javascript"><!--
        document.write(name);
        // -->
      </script></b>, contesta a las siguientes preguntas:
    <br><br>
    <!-------- Preguntas Matematicas  -------------->
    <hr size="1" width="400" color="gray" noshade="">
    <h1>Preguntas Matematicas</h1>
    <hr size="1" width="400" color="gray" noshade="">
    <form action="esempio.htm" method="post" name="form1">
    <!-------- Preguntas primera matematica  -------------->
      <font face="Arial" size="2"><b>¿Cuál es el resultado de multiplicar 6 por su doble? </b></font><br><br>
      <select name="answer" size="1">
        <option selected="" value="0">
        </option><option value="1"> 1. 72
        </option><option value="2"> 2. 12
        </option><option value="3"> 3. 36
        </option><option value="4"> 4. 216
        </option>
      </select>
      <input name="correct" size="4" type="hidden" value="1">
    </form>
    <!-------- Preguntas segunda matematica  -------------->
    <form action="esempio.htm" method="post" name="form1">
      <font face="Arial" size="2"><b>¿Cuál es el resultado de sumar 6 con su tercera parte y su triple?</b></font><br><br>
      <select name="answer" size="1">
        <option selected="" value="0">
        </option><option value="1"> 1. 21
        </option><option value="2"> 2. 27
        </option><option value="3"> 3. 26
        </option><option value="4"> 4. 28
        </option>
      </select>
      <input name="correct" size="5" type="hidden" value="3">
    </form>
    <!-------- Preguntas tercer matematica  -------------->
    <form action="esempio.htm" method="post" name="form1">
      <font face="Arial" size="2"><b>¿Cuántos números impares encontraremos entre 30 y 40?</b></font><br><br>
      <select name="answer" size="1">
        <option selected="" value="0">
        </option><option value="1"> 1. 4
        </option><option value="2"> 2. 7
        </option><option value="3"> 3. 6
        </option><option value="4"> 4. 5
        </option>
      </select>
      <input name="correct" size="5" type="hidden" value="4">
    </form>
    <!-------- Preguntas cuarta matematica  -------------->
    <form action="esempio.htm" method="post" name="form1">
      <font face="Arial" size="2"><b>¿Qué número ha de completar este 12_456409 para que sea divisible por 3?</b></font><br><br>
      <select name="answer" size="1">
        <option selected="" value="0">
        </option><option value="1"> 1. 2
        </option><option value="2"> 2. 3
        </option><option value="3"> 3. 1
        </option><option value="4"> 4. 0
        </option>
      </select>
      <input name="correct" size="4" type="hidden" value="1">
    </form>
    <!-------- Preguntas quinta matematica  -------------->
    <form action="esempio.htm" method="post" name="form1">
      <font face="Arial" size="2"><b>¿Qué número dividiremos por 3 para obtener 19?</b></font><br><br>
      <select name="answer" size="1">
        <option selected="" value="0">
        </option><option value="1"> 1. 47
        </option><option value="2"> 2. 57
        </option><option value="3"> 3. 39
        </option><option value="4"> 4. 69
        </option>
      </select>
      <input name="correct" size="4" type="hidden" value="2">
    </form>
    <!-------- Preguntas Cultura general -------------->
    <hr size="1" width="400" color="gray" noshade="">
    <h1>Preguntas Cultura general</h1>
    <hr size="1" width="400" color="gray" noshade="">
    <!-------- Preguntas primera sociales  -------------->
    <form action="esempio.htm" method="post" name="form1">
      <font face="Arial" size="2"><b>¿Qué Provincias comparten el bosque petrificado de Puyango?</b></font><br><br>
      <select name="answer" size="1">
        <option selected="" value="0">
        </option><option value="1"> 1. El Oro y Loja
        </option><option value="2"> 2. Zamora y Loja
        </option><option value="3"> 3. Azuay y el Oro
        </option><option value="4"> 4. Ninguna de las anteriores
        </option>
      </select>
      <input name="correct" size="4" type="hidden" value="1">
    </form>
    <!-------- Preguntas segunda sociales  -------------->
    <form action="esempio.htm" method="post" name="form1">
      <font face="Arial" size="2"><b>Ecuador está situado en:</b></font><br><br>
      <select name="answer" size="1">
        <option selected="" value="0">
        </option><option value="1"> 1. Suroeste de América del Sur.
        </option><option value="2"> 2. Noreste de América del Sur.
        </option><option value="3"> 3. Sureste de América del Sur.
        </option><option value="4"> 4. Noroeste de América del Sur
        </option>
      </select>
      <input name="correct" size="4" type="hidden" value="4">
    </form>
    <!-------- Preguntas tercera sociales  -------------->
    <form action="esempio.htm" method="post" name="form1">
      <font face="Arial" size="2"><b>¿En la Amazonía qué grupos indígenas se hallan?</b></font><br><br>
      <select name="answer" size="1">
        <option selected="" value="0">
        </option><option value="1"> 1. Huaorani
        </option><option value="2"> 2. Los Tsáchilas
        </option><option value="3"> 3. Los Saraguros
        </option><option value="4"> 4. Los Cofán
        </option>
      </select>
      <input name="correct" size="4" type="hidden" value="1">
    </form>
    <!-------- Preguntas cuarta sociales  -------------->
    <form action="esempio.htm" method="post" name="form1">
      <font face="Arial" size="2"><b>¿El parque nacional Yasuní, en qué provincia está ubicado?</b></font><br><br>
      <select name="answer" size="1">
        <option selected="" value="0">
        </option><option value="1"> 1. Sucumbíos
        </option><option value="2"> 2. Orellana
        </option><option value="3"> 3. Napo
        </option><option value="4"> 4. Pastaza
        </option>
      </select>
      <input name="correct" size="4" type="hidden" value="2">
    </form>
    <!-------- Preguntas quinta sociales  -------------->
    <form action="esempio.htm" method="post" name="form1">
      <font face="Arial" size="2"><b>¿A qué lugares del mundo preferentemente se trasladan nuestros emigrantes?</b></font><br><br>
      <select name="answer" size="1">
        <option selected="" value="0">
        </option><option value="1"> 1. España y Estados unidos
        </option><option value="2"> 2. Colombia y Francia
        </option><option value="3"> 3. Francia y Marruecos
        </option><option value="4"> 4. África
        </option>
      </select>
      <input name="correct" size="4" type="hidden" value="1">
    </form>



    <!-------- Preguntas Razonamiento Verbal -------------->
    <hr size="1" width="400" color="gray" noshade="">
    <h1>Preguntas Razonamiento Verbal</h1>
    <hr size="1" width="400" color="gray" noshade="">
    <!-------- Preguntas primera razonamiento verbal  -------------->
    <form action="esempio.htm" method="post" name="form1">
      <font face="Arial" size="2"><b> ¿Cuál de las siguientes palabras no encaja con las restantes?</b></font><br><br>
      <select name="answer" size="1">
        <option selected="" value="0">
        </option><option value="1"> 1. TIGRE
        </option><option value="2"> 2. PUMA
        </option><option value="3"> 3. LOBO
        </option><option value="4"> 4. LEOPARDO
        </option>
      </select>
      <input name="correct" size="4" type="hidden" value="3">
    </form>
    <!-------- Preguntas segunda razonamiento verbal -------------->
    <form action="esempio.htm" method="post" name="form1">
      <font face="Arial" size="2"><b>¿Cuál de las siguientes palabras no encaja con el resto?</b></font><br><br>
      <select name="answer" size="1">
        <option selected="" value="0">
        </option><option value="1"> 1. Ordenanza
        </option><option value="2"> 2. Escriba
        </option><option value="3"> 3. Secretario
        </option><option value="4"> 4. Amanuense
        </option>
      </select>
      <input name="correct" size="4" type="hidden" value="1">
    </form>
    <!-------- Preguntas tercera razonamiento verbal -------------->
    <form action="esempio.htm" method="post" name="form1">
      <font face="Arial" size="2"><b>Soy un hombre. Si el hijo de Juan es el padre de mi hijo, ¿qué soy yo de Juan?</b></font><br><br>
      <select name="answer" size="1">
        <option selected="" value="0">
        </option><option value="1"> 1. Su abuelo
        </option><option value="2"> 2. Su padre
        </option><option value="3"> 3. Su hijo
        </option><option value="4"> 4. Su nieto
        </option>
      </select>
      <input name="correct" size="4" type="hidden" value="3">
    </form>
    <!-------- Preguntas cuarta razonamiento verbal -------------->
    <form action="esempio.htm" method="post" name="form1">
      <font face="Arial" size="2"><b>¿Qué palabra no pertenece al siguiente grupo?</b></font><br><br>
      <select name="answer" size="1">
        <option selected="" value="0">
        </option><option value="1"> 1. cuchullo
        </option><option value="2"> 2. cisne
        </option><option value="3"> 3. sonrisa
        </option><option value="4"> 4. pluma
        </option>
      </select>
      <input name="correct" size="4" type="hidden" value="3">
    </form>
    <!-------- Preguntas quinta razonamiento verbal -------------->
    <form action="esempio.htm" method="post" name="form1">
      <font face="Arial" size="2"><b>En el grupo que sigue, indique la palabra que, por su significado, no refleja el mismo concepto</b></font><br><br>
      <select name="answer" size="1">
        <option selected="" value="0">
        </option><option value="1"> 1. tamiz
        </option><option value="2"> 2. clip
        </option><option value="3"> 3. clavo
        </option><option value="4"> 4. cuerda
        </option>
      </select>
      <input name="correct" size="4" type="hidden" value="1">
    </form>




    <!-------- Preguntas Razonamiento Abstracto -------------->
    <hr size="1" width="400" color="gray" noshade="">
    <h1>Preguntas Personalidad</h1>
    <hr size="1" width="400" color="gray" noshade="">
    <!-------- Preguntas primera razonamiento abstracto  -------------->
    <form action="esempio.htm" method="post" name="form1">
      <font face="Arial" size="2"><b>¿Organizas bien tu dinero?</b></font><br><br>
      <select name="answer" size="1">
        <option selected="" value="0">
        </option><option value="1"> 1. Siempre
        </option><option value="2"> 2. Frecuentemente
        </option><option value="3"> 3. A veces
        </option><option value="4"> 4. Nunca
        </option>
      </select>
      <input name="correct" size="4" type="hidden" value="1">
    </form>
    <!-------- Preguntas segunda razonamiento abstracto -------------->
    <form action="esempio.htm" method="post" name="form1">
      <font face="Arial" size="2"><b>¿Te atrae armar rompecabezas o puzzles?</b></font><br><br>
      <select name="answer" size="1">
        <option selected="" value="0">
        </option><option value="1"> 1. Siempre
        </option><option value="2"> 2. Frecuentemente
        </option><option value="3"> 3. A veces
        </option><option value="4"> 4. Nunca
        </option>
      </select>
      <input name="correct" size="4" type="hidden" value="2">
    </form>
    <!-------- Preguntas tercera razonamiento abstracto -------------->
    <form action="esempio.htm" method="post" name="form1">
      <font face="Arial" size="2"><b>¿Cuando eras pequeño te interesaba saber cómo estaban construidos los juguetes?</b></font><br><br>
      <select name="answer" size="1">
        <option selected="" value="0">
        </option><option value="1"> 1. Siempre
        </option><option value="2"> 2. Frecuentemente
        </option><option value="3"> 3. A veces
        </option><option value="4"> 4. Nunca
        </option>
      </select>
      <input name="correct" size="4" type="hidden" value="2">
    </form>
    <!-------- Preguntas cuarta razonamiento abstracto -------------->
    <form action="esempio.htm" method="post" name="form1">
      <font face="Arial" size="2"><b>Piensas que la religión es importante en la vida cotidiana</b></font><br><br>
      <select name="answer" size="1">
        <option selected="" value="0">
        </option><option value="1"> 1. Si
        </option><option value="2"> 2. No
        </option><option value="3"> 3. Tal vez
        </option><option value="4"> 4. Depende de la persona
        </option>
      </select>
      <input name="correct" size="4" type="hidden" value="4">
    </form>
    <!-------- Preguntas quinta razonamiento abstracto -------------->
    <form action="esempio.htm" method="post" name="form1">
      <font face="Arial" size="2"><b>Piensas que el dinero es lo más importante en la vida</b></font><br><br>
      <select name="answer" size="1">
        <option selected="" value="0">
        </option><option value="1"> 1. Si
        </option><option value="2"> 2. No
        </option><option value="3"> 3. Tal vez
        </option><option value="4"> 4. No es importante pero necesario
        </option>
      </select>
      <input name="correct" size="4" type="hidden" value="4">
    </form>

  </font><form  method="post" name="total"><font face="Arial" size="3">

    <!--  <a class="nav-link" href="/universityDescription">Verificar Resultados y Universidad </a>-->

      <input name="Button" onclick="quizp()" type="button" value="Desplegar resultados">
      <input name="Button" onclick="quiz()" type="button" value="Universidad calculada">
      <br><br>

      <b><script language="Javascript"><!--
          document.write(name);
          // -->
        </script></b>: has contestado correctamente a <input name="score" size="2"> preguntas de un total de <input name="outof" size="2">Puntaje total<input name="puntaje" size="2"><br><br>
      Has obtenido un porcentaje de calificación del <input name="percent" size="2">%


      <br><br>
      <a href="/">Regresar a la ventana principal</a>
    </font>
  </form></div>
</body></html>
