<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script language="JavaScript" type="text/JavaScript" src="script.js"></script>

</head>
<body onLoad="quiz()">

<select name="elselect" onChange="leeselect();quiz();" id="elselect">
  <option value="1">El valor 1</option>
  <option value="2">El valor 2</option>
  <option value="2" name="">El valor 2</option>
</select>

</body>
</html>
