<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>

<div class="row">


  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <h1 class="center-block" style="color: darkorchid;">Pizzas "PoliPizza"  te da la Bienvenida</h1>
  </div>
  <div class="col-sm-4"></div>

</div>


<h2 style="color: #83cdff">Seleccione una pizza para ser comprada</h2>


<div class="row">


  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <div class="w3-card-4 w3-dark-grey">

      <div class="w3-container w3-center">
        <h3>Pizza de Salami</h3>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFmZ_YMYCRf5VF2k77rJu0oHkKLELL1q4RjUhxCf7nCnKjEX8O" alt="Avatar" style="width:80%">
        <h5>Ingredientes:Salami,Queso</h5>
        <h6>Precio:11 dolares</h6>

        <button class="w3-button w3-green">Comprar</button>
        <button class="w3-button w3-red">Ver mas informacion</button>
      </div>

    </div>

  </div>

  <div class="col-sm-2"></div>

  <div class="col-sm-4">
    <div class="w3-card-4 w3-dark-grey">
      <div class="w3-container w3-center">
        <h3>Pizza de Peperoni</h3>
        <img src="http://vignette1.wikia.nocookie.net/flylikeabird3/images/6/6e/Pepperoni_Pizza.jpg/revision/latest?cb=20140610172638" alt="Avatar" style="width:80%">
        <h5>Ingredientes:Salami,Queso</h5>
        <h6>Precio:11 dolares</h6>

        <button class="w3-button w3-green">Comprar</button>
        <button class="w3-button w3-red">Ver mas informacion</button>
      </div>

    </div>

  </div>

  <div class="col-sm-1"></div>



</div>

<div class="row">


  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <div class="w3-card-4 w3-dark-grey">

      <div class="w3-container w3-center">
        <h3>Pizza Champiñones</h3>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXPumqMMU9k2_074vCpPktyxXsMBPM-TkHMZx7cROubvv-BHnLDg" alt="Avatar" style="width:80%">
        <h5>Ingredientes:Champinones queso extra</h5>
        <h6>Precio:13 dolares</h6>

        <button class="w3-button w3-green">Comprar</button>
        <button class="w3-button w3-red">Ver mas informacion</button>
      </div>

    </div>
  </div>
  <div class="col-sm-2"></div>

  <div class="col-sm-4">
    <div class="w3-card-4 w3-dark-grey">
      <div class="w3-container w3-center">
        <h3>Pizza Hawaiana</h3>
        <img src="https://cdn.kiwilimon.com/recetaimagen/11116/thumb400x300-1328.jpg" alt="Avatar" style="width:80%">
        <h5>https://cdn.kiwilimon.com/recetaimagen/11116/thumb400x300-1328.jpg</h5>
        <h6>Precio:14 dolares</h6>

        <button class="w3-button w3-green">Comprar</button>
        <button class="w3-button w3-red">Ver mas informacion</button>
      </div>

    </div>

  </div>

  <div class="col-sm-1"></div>



</div>
<a href="/logout">Cerrar sesión</a>


<a href="/">Regresar a la ventana principal</a>


</body>
</html>

