<dialog> <p>This is an HTML dialog! Click the button to close it.</p> <button id="close">Close Dialog</button> </dialog>

<h1 style="color: darkred">Pizzas Jorge </h1>
<h2 style="color: red">Seleccione una pizza</h2>
<h1 for="password">Pizza Peperoni</h1>
<h1></h1>>
<label for="password">Ingredientes:Peperoni,Queso</label>
<h5>Precio:12 dolares</h5>
<button type="button">Comprar</button>
<div>
<IMG SRC="https://www.cicis.com/media/1243/pizza_adven_zestypepperoni.png" ALT="pizza" height="250" width="250" title="Texto emergente">

</div>

<h1 for="password">Pizza Salami</h1>
<h1></h1>>
<label for="password">Ingredientes:Salami,Queso</label>
<h5>Precio:11 dolares</h5>
<button type="button">Comprar</button>
<div>
<IMG SRC="http://www.pizzahut-tt.com/wp-content/uploads/2013/06/pizza-hut-trinidad-and-tobago-pepperoni-lovers-pizza.png" ALT="pizza" height="250" width="250">
</div>
<h1></h1>
<h1 for="password">Pizza Champiñones</h1>
<h1></h1>>
<label for="password">Ingredientes:Champinones queso extra</label>
<h5>Precio:13 dolares</h5>
<button type="button">Comprar</button>
<div>
<IMG SRC="http://img.taste.com.au/4ioiniTx/taste/2016/11/easy-cheesy-salami-and-mushroom-pizza-97042-1.jpeg" ALT="pizza" height="250" width="250">
</div>
  <label for="password">Pizza Hawaiana</label>
<h1></h1>>
<label for="password">Ingredientes:Pina,Queso</label>
<h5>Precio:14 dolares</h5>
<button type="button">Comprar</button>
<div>
<IMG SRC="http://www.ecuavisa.com/sites/default/files/fotos/2017/02/22/pizza_pina.jpg" ALT="pizza" height="250" width="250">
</div>
<h1></h1>
<a href="/">Ir pagina de inicio</a>
<a href="/logout">Deslogearse</a>
